<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<style>
        #jumbo { margin-top: 80px; }
</style>
<body>
<%include templates/header.ejs %>

<div class="container">

    <div id="jumbo" class="jumbotron text-center">
        <h1>ShowList</h1>

        <p>Sorry, we couldn't find what you were looking for :(</p>

        <p>404 Error</p>
    </div>

</div>
</body>
</html>